<ion-view title="Check Availability -1">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Enter Your ZipCode</div>
            <div class="item item-body">
                <form>
                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" placeholder="ZipCode">
                    </label>
                    <a href="#/services" class="button button-stable button-block">Check</a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>