<ion-view title="Services Available - 2">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2></h2>
                <p></p>
                <a href="#/booking" class="button button-positive button-clear">General Labor</a>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2></h2>
                <p></p>
                <a href="#/booking" class="button button-positive button-clear">Furniture Assembly</a>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2></h2>
                <p></p>
                <a href="#/booking" class="button button-positive button-clear">Moving</a>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2></h2>
                <p></p>
                <a href="#/booking" class="button button-positive button-clear">Cleaning</a>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2></h2>
                <p></p>
                <a href="#/booking" class="button button-positive button-clear">Yard Work</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>